body {
  font-family: "Source Sans Pro", Helvetica, sans-serif !important;
  line-height: 1;
  background-color: white;
  font-size: 26px;
}


header {
  background: url('../img/background-hero.jpg') no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: auto;

  p {
    font-size: 20px;
    text-align: center;
    color: white;
    line-height: 1.6em;
  }
  span{
    color: white;
    font-size:48px;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 0px;
    padding: 0px;
    @include mobile{
      font-size: 22px;
    }
  }
  strong{
    font-weight: 700;
  }

  .w-css-reset{
    border: none !important;
    background-color: transparent !important;
  }
  .video{
    text-align: center;
  }
}


main{
  background-color: white;

  img{
    height: 100%;
    width: 100%;
  }
  .timer{
    .col-md-4{
      @include mobile{
        width: auto;
      }
    }
  }
  .circle {
    background-color: #e2ac23;
    border-radius: 4.25rem!important;
    color: #42251f;
    border: 3.5px solid #c2890f;

    .card-body{
      color: #42251f;
      font-size: 47px;
      font-weight: 400;
    }
  }

  .playbook{
  background: url('../img/wcf-typ-playbook-bgfade.jpeg') no-repeat center;
  background-size: cover;
  
  width: 100%;
  height: auto;
  }

}



