{% extends "layout.html" %}

{% block main %}
<!-- hero -->
<header>
    <div class="container py-3">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span>
                    <strong>Limited Time Special Offer:</strong> Get Immediate Access To<br>
                    My "Playbook To Millions" Video Training Package...
                </span>
            </div>
            <div class="col-md-10 my-3">
                    <script src="https://fast.wistia.com/embed/medias/nphdn5mvop.jsonp" async></script><script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><span class="wistia_embed wistia_async_nphdn5mvop popover=false popoverAnimateThumbnail=false autoPlay=true" style="display:inline-block;height:400px;position:relative;width:100%;" >&nbsp;</span>
            </div>
            <div class="col-md-12">
                <p>
                    (Watch This Quick 2 Minute Video)
                </p>
            </div>
        </div>
    </div>
</header>

<!-- main page content -->

<main class=" py-3">
    <div class="container">
        <!-- book purchase area -->
        <div class="row justify-content-center text-center">
            <div class="col-md-11">
                <img src="img/price-197.png" alt="pricing">
            </div>
            <div class="col-md-12 mt-3">
                <p>
                    <strong>HURRY!</strong> This Is Only Available For The Next 5 Minutes...
                </p>
            </div>

            <!-- javascript count down circles -->
            <div class="row timer py-3">
                <div class="col-md-4" >
                    <div class="card circle" >
                        <div class="card-body" id="hours">
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4" >
                    <div class="card circle" >
                        <div class="card-body" id="minutes">
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4" >
                    <div class="card circle" >
                        <div class="card-body" id="seconds">

                        </div>
                    </div>
                </div>
            </div>
            <!-- END of count down circles -->
            <div class="col-md-11">
                
                <a class="card" href="#" style="background-color: rgb(228, 59, 44);
                width: 100%; color: white;">
                    <div class="card-body">
                        <i class="fas fa-shopping-cart"></i> <strong>Yes! Add The Playbook To Millions To My Order!</strong>
                        <p style="font-size: 21px;">Clicking On This Button Will Charge Your Card $197 Now</p>

                    </div>
                </a>

                <div class="my-2"><a href="#" style="color: black;  text-decoration: underline;">
                    No, I'm Not Interested in This Amazing Offer
                </a></div>
                
            </div>

        </div>
    <!-- END of book purchase area -->

    <div class="row my-5">
        <div class="col-md-12">
            <img src="img/playbook/playbook-includes-wide.png" alt="play book pricing">
        </div>
    </div>

    <!-- testimonials -->
    <div class="row my-5">
        <div class="col-md-12">
            <img src="img/whatothersaresaying.png" alt="what are others saying">
        </div>
    </div>
    <!-- javascript will dynamically append testimonials here using a loop -->
    <div class="row my-5" id='testimonials'></div>
    <h2 class="mb-5" style="font-size:56px; color: rgb(34, 34, 34);text-align: center;font-weight: 700;">YOUR GUIDE TO FINANCIAL FREEDOM!</h2>
    <!-- END testimonials -->
</div> 

    <!-- playbook info -->
    <div class="playbook">
        <div class="container">
            <div class="row justify-content-center text-center py-3">
                <div class="col-md-6 my-5 justify-content-center text-center text-center">
                    <img src="img/wcf-typ-playbooktitle.png" alt="playbook title" style="height: 100%; width: 100%;"/>
                </div>
                <div class="col-md-12">
                    <img src="img/wcf-typ-playbook-programs.png" alt="playbook info"/>
                </div>
                
            </div>
        </div>
    </div>
    <!-- book -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 my-5">
                <h2 style="font-size: 43px;
                font-weight: 900;
                color: #264664 !important;">420+ PAGE Grant Cardone's Playbook eBook Included Free... Perfect For Your Phone Or Tablet</h2>
            </div>
            <div class="col-md-12">
                <img src="img/playbook-free-ebook.png" alt="playbook ebook"/>
            </div>
        </div>
        <div class="row justify-content-center text-center">
            <div class="col-md-11">
                <img src="img/price-197.png" alt="pricing">
            </div>
            <div class="col-md-12 mt-3">
                <p>
                    <strong>HURRY!</strong> This Is Only Available For The Next 5 Minutes...
                </p>
            </div>

            <!-- javascript count down circles -->
            <div class="row timer py-3">
                <div class="col-md-4" >
                    <div class="card circle" >
                        <div class="card-body" id="hours">
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4" >
                    <div class="card circle" >
                        <div class="card-body" id="minutes">
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4" >
                    <div class="card circle" >
                        <div class="card-body" id="seconds">

                        </div>
                    </div>
                </div>
            </div>
            <!-- END of count down circles -->
            <div class="col-md-11">
                
                <a class="card" href="#" style="background-color: rgb(228, 59, 44);
                width: 100%; color: white;">
                    <div class="card-body">
                        <i class="fas fa-shopping-cart"></i> <strong>Yes! Add The Playbook To Millions To My Order!</strong>
                        <p style="font-size: 21px;">Clicking On This Button Will Charge Your Card $197 Now</p>

                    </div>
                </a>

                <div class="mt-2 mb-4"><a href="#" style="color: black;  text-decoration: underline;">
                    No, I'm Not Interested in This Amazing Offer
                </a></div>
                
            </div>

        </div>
        <!-- END of book purchase area -->
        <div class="row">
            <div class="col-md-12">
                <h2 class="my-3" style="color: rgb(38, 70, 100);font-size:40px;font-weight:700;">Ready To Create Wealth In Your Life?</h2>
                <p  style="color: rgb(38, 70, 100);"><strong>The Good news is you can!</strong><br>
                    At 25 I was broke and in debt. Today, I have hundreds of different Multiple Flows of Income providing me and my family with prosperity, freedom and wealth.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 my-5"><span style="color: rgb(38,70,100);font-size:60px;">Here Is What You Get
            </span></div>
            <div class="col-md-12 mt-2"><img src="img/wcf-typ-program1.jpeg" alt="what you get"></div>
            <div class="col-md-12 mt-2"><img src="img/wcf-typ-program2.jpeg" alt="what you get"></div>
            <div class="col-md-12 mt-2"><img src="img/wcf-typ-program3.jpeg" alt="what you get"></div>
            <div class="col-md-12 mt-2 "><img src="img/wcf-typ-program4.jpeg" alt="what you get"></div>
            <div class="col-md-12 mt-2"><img src="img/wcf-typ-program5.jpeg" alt="what you get"></div>
            <div class="col-md-12 mt-2"><img src="img/wcf-typ-program6.jpeg" alt="what you get"></div>
            <div class="col-md-12 mt-2"><img src="img/wcf-typ-program7.jpeg" alt="what you get"></div>
            <div class="col-md-12 mt-2"><img src="img/wcf-typ-program8.jpeg" alt="what you get"></div>
            <div class="col-md-12 mt-2 mb-4"><img src="img/wcf-typ-program9.jpeg" alt="what you get"></div>
        </div>
        <!-- book purchase area -->
        <div class="row justify-content-center text-center">
            <div class="col-md-11">
                <img src="img/price-197.png" alt="pricing">
            </div>
            <div class="col-md-12 mt-3">
                <p>
                    <strong>HURRY!</strong> This Is Only Available For The Next 5 Minutes...
                </p>
            </div>

            <!-- javascript count down circles -->
            <div class="row timer py-3">
                <div class="col-md-4" >
                    <div class="card circle" >
                        <div class="card-body" id="hours">
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4" >
                    <div class="card circle" >
                        <div class="card-body" id="minutes">
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4" >
                    <div class="card circle" >
                        <div class="card-body" id="seconds">

                        </div>
                    </div>
                </div>
            </div>
            <!-- END of count down circles -->
            <div class="col-md-11">
                
                <a class="card" href="#" style="background-color: rgb(228, 59, 44);
                width: 100%; color: white;">
                    <div class="card-body">
                        <i class="fas fa-shopping-cart"></i> <strong>Yes! Add The Playbook To Millions To My Order!</strong>
                        <p style="font-size: 21px;">Clicking On This Button Will Charge Your Card $197 Now</p>

                    </div>
                </a>

                <div class="my-2"><a href="#" style="color: black;  text-decoration: underline;">
                    No, I'm Not Interested in This Amazing Offer
                </a></div>
                
            </div>

        </div>
        <!-- END of book purchase area -->
            
    </div>

</main>


{% endblock %}